<div class="row">
  <%= form_for [@user, @map] do |f| %>
    <%= render :partial => 'shared/errors', :locals => {:object => @map} %>
    <div class="input-field">
      <%= f.label :title, "Title:" %>
      <%= f.text_field :title %>
    </div>
    <div class="input-field">
      <%= f.label :description, "Describe the map a little bit:" %>
      <%= f.text_area :description %>
    </div>
    <div class="input-field">
      <%= f.submit "Go" %>
    </div>
  <% end %>
</div>