<% content_for :head do %>
  <%= javascript_include_tag 'http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js' %>
  <%= javascript_include_tag 'show-map' %>
  <%= stylesheet_link_tag 'show-map' %>
  <%= tag :meta, :name=> 'map_id', :content=> params[:id] %>
<% end %>
<% content_for :title, "Map: #{@map.title.titleize} from #{params[:user_id]}" %>
<% content_for :meta_description, "#{@map.title.titleize} - A map from #{params[:user_id]} about truncate(@map.description, :length => 100, :separator => " ")." %>
<script>
  <%= render :partial => 'map' %>
  <%= render :partial => 'pins', :collection => @map_events, :as => :event %>
</script>
<div id="map-canvas"></div>


<div class="show-map">
  <div class="events">
    <div class="map-details">
      <h2><%= @map.title %></h2>
      <span class="from-user"><%= link_to @user.username, @user %> </span>
    </div>
    <% @map_events.each do |event| %>
      <div class="event" id="<%= event.id %>">
        <h3 class="event-title"><%= event.title %></h3>
        <span class="event-date"><%= event.date.to_s :long %></span>
      </div><!--.event-->
    <% end %>
  </div><!--.events-->
  <div class="event-details">
    <%= render :partial => 'event_photo' %>
    <%= render :partial => 'event_description' %>
  </div><!--.event-details-->
</div><!--.show-map-->