<% content_for :title, "Login" %>
<% content_for :meta_description, "Login to Gocotoco." %>
<div class="row login-info">
<div class="login-box eight columns">
  <%= form_tag '/login' do %>
    <div class="input-field">
        <%= label_tag 'Username' %>
        <%= text_field_tag 'username' %>
    </div>
    <div class="input-field">
        <%= label_tag 'Password' %>
        <%= password_field_tag 'password' %>
    </div>
    <div class="input-field">
        <%= submit_tag 'Login', :class => 'tk-museo-sans' %>
    </div>
  <% end %>
</div>
<div class="four columns">
  <h4>Don't have an account?
  <%= link_to 'Sign up', login_path %>.</h4>
</div>
</div>