<% content_for :title, "Edit Your Password" %>
<% content_for :meta_description, "Edit your password at Gocotoco." %>
<div class="row">
<%= form_for(@user) do |f| %>
  <%= render :partial => 'shared/errors', :locals => {:object => @user} %>
  <div class="input-field">
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password %>
  </div>
  <div class="input-field">
      <%= f.label :password_confirmation, "Password Confirmation:" %>
      <%= f.password_field :password_confirmation %>
  </div>
  <div class="input-field">
      <%= f.submit "Go" %>
  </div>
<% end %>
</div>