<% content_for :head do %>

<% end %>
<% content_for :title, "Maps from #{@user.username}" %>
<% content_for :meta_description, "View all maps from #{@user.username} at Gocotoco." %>
<div class="row user-details">
  <h1><%= @user.username %></h1>
  <div class="name"><%= @user.first_name %> <%= @user.last_name %></div>
  <div class="location"><%= @user.city %></div>
</div>
<div class="row">
  <%= show_user_maps %>
</div>