<%= form_for [@user, @map, @event] do |f| %>
  <%= render :partial => 'shared/errors', :locals => {:object => @event} %>

  <div class="form-field">
    <%= f.label :title, "Headline:" %>
    <%= f.text_field :title %>
  </div>
  <div class="form-field optional">
    <%= f.label :description, "Tell a little story:" %>
    <%= f.text_area :description %>
  </div>
  <div class="form-field optional">
    <%= f.label :date, "Date:" %>
    <%= f.date_select :date, :start_year => 1900, :end_year => Time.now.year + 2, :order => [:month, :day, :year], :include_blank => true %>
  </div>

    <%= f.submit "Go" %>
<% end %>