<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - zODM</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield(:user_stylesheet) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
